In [1]:
from scipy import stats
import numpy as np
import pandas as pd
import os
import random
import csv
from pprint import pprint

In [2]:
#read csv
drug_table = os.path.join("Drug_Overdose.csv")
file_path = pd.read_csv(drug_table)
file_path = file_path
file_path = file_path.rename(columns = {"Data Value": "Death Count"})
file_path = file_path.rename(columns = {"Indicator": "Drug Name"})
file_path.head()

,State,Year,Month,Period,Drug Name,Death Count,Percent Complete,Percent Pending Investigation,State Name,Footnote,Footnote Symbol,Predicted Value
0,AK,2015,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
1,AK,2015,April,12 month-ending,Cocaine (T40.5),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
2,AK,2015,April,12 month-ending,Psychostimulants with abuse potential (T43.6),NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
3,AK,2015,April,12 month-ending,"Opioids (T40.0-T40.4,T40.6)",NaN,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN
4,AK,2015,April,12 month-ending,Number of Deaths,4133.0,100,0.0,Alaska,Numbers may differ from published reports usin...,**,NaN

In [3]:
value_df = file_path[file_path['Year'] >= 2016]

In [4]:
# retrieve the required fields
value_df= pd.DataFrame(value_df[['State', 'Year', 'Month','Drug Name','Death Count',
                   'Percent Complete','Percent Pending Investigation','Predicted Value']])

value_df.head()

,State,Year,Month,Drug Name,Death Count,Percent Complete,Percent Pending Investigation,Predicted Value
144,AK,2016,April,"Natural & semi-synthetic opioids, incl. methad...",68.0,100,0.0,68.0
145,AK,2016,April,Cocaine (T40.5),11.0,100,0.0,11.0
146,AK,2016,April,Number of Drug Overdose Deaths,132.0,100,0.0,132.0
147,AK,2016,April,Psychostimulants with abuse potential (T43.6),35.0,100,0.0,36.0
148,AK,2016,April,Number of Deaths,4262.0,100,0.0,NaN

In [5]:
file_path.shape

(34944, 12)

In [6]:
file_path.columns

Index(['State', 'Year', 'Month', 'Period', 'Drug Name', 'Death Count',
       'Percent Complete', 'Percent Pending Investigation', 'State Name',
       'Footnote', 'Footnote Symbol', 'Predicted Value'],
      dtype='object')

### Save data to CSV

In [ ]:
value_df.to_csv('drug_final2.csv', encoding='utf-8')