In [1]:
from scipy import stats
import numpy as np
import pandas as pd
import os
import random
import csv
from pprint import pprint

In [2]:
#read csv
file_path = os.path.join("Drug_Overdose.csv")
metadata = pd.read_csv(file_path)
print(f"Data Shape: {metadata.shape}")
metadata.head()

Data Shape: (28392, 10)

,Unnamed: 0,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,Predicted Value
0,144,AK,2016,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",68.0,100,0.0,68.0
1,145,AK,2016,April,12 month-ending,Cocaine (T40.5),11.0,100,0.0,11.0
2,146,AK,2016,April,12 month-ending,Number of Drug Overdose Deaths,132.0,100,0.0,132.0
3,147,AK,2016,April,12 month-ending,Psychostimulants with abuse potential (T43.6),35.0,100,0.0,36.0
4,148,AK,2016,April,12 month-ending,Number of Deaths,4262.0,100,0.0,NaN

In [3]:
value_df = metadata[metadata['Year'] >= 2016]

In [4]:
value_df.head()

,Unnamed: 0,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,Predicted Value
0,144,AK,2016,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",68.0,100,0.0,68.0
1,145,AK,2016,April,12 month-ending,Cocaine (T40.5),11.0,100,0.0,11.0
2,146,AK,2016,April,12 month-ending,Number of Drug Overdose Deaths,132.0,100,0.0,132.0
3,147,AK,2016,April,12 month-ending,Psychostimulants with abuse potential (T43.6),35.0,100,0.0,36.0
4,148,AK,2016,April,12 month-ending,Number of Deaths,4262.0,100,0.0,NaN

In [5]:
grouped_multiple = value_df.groupby(['State', 'Indicator'])

In [6]:
# retrieve the required fields
value_df= pd.DataFrame(value_df[['State', 'Year', 'Month', 'Period','Indicator','Data Value',
                   'Percent Complete','Percent Pending Investigation','Predicted Value']])

value_df.head()

,State,Year,Month,Period,Indicator,Data Value,Percent Complete,Percent Pending Investigation,Predicted Value
0,AK,2016,April,12 month-ending,"Natural & semi-synthetic opioids, incl. methad...",68.0,100,0.0,68.0
1,AK,2016,April,12 month-ending,Cocaine (T40.5),11.0,100,0.0,11.0
2,AK,2016,April,12 month-ending,Number of Drug Overdose Deaths,132.0,100,0.0,132.0
3,AK,2016,April,12 month-ending,Psychostimulants with abuse potential (T43.6),35.0,100,0.0,36.0
4,AK,2016,April,12 month-ending,Number of Deaths,4262.0,100,0.0,NaN

### Save data to CSV

In [21]:
value_df.to_csv('drug_final.csv', encoding='utf-8')